__pycache__/draw_object.cpython-312.pyc
__pycache__/ant.cpython-312.pyc
__pycache__/area.cpython-312.pyc
__pycache__/food.cpython-312.pyc
__pycache__/home.cpython-312.pyc
__pycache__/TheAntWay.cpython-312.pyc
